body {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:darkslategray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-producto img{
    width: 100px;
}

.card-producto{
    border: 2px solid;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    background-color:darkseagreen;
}

.aside {
    align-items: center;
}


#contenedor-productos{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#contenedor-carrito{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: left;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: bisque;

}

#form-agregar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    gap: 7px;
    border-style:double;
    padding: 7px;
}

#form-agregar button {
    background-color:gray;
    color: white;
    cursor: pointer;
}

.bttn-card {
    cursor: pointer;
    background-color: black;
    color: white;
}

#bttn-ordenar {
    text-align: center;
    margin-bottom: 10px;
}