body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.card-producto img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 10px auto;
}

header {
    display: flex;
    background-color: green;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    padding: 0 10px;
}

header h3 {
    color: white;
}

#barra-busqueda {
    padding: 8px 12px;           
    border: 1px solid #000000;     
    border-radius: 4px;          
    outline: none;              
    font-size: 14px;             
    width: 200px;                
}


#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

#contenedor-carrito{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: left;
}

.card-producto{
    border: 2px solid gray;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text-card {
    margin-bottom: 10px;
}

.p-card {
    margin: 5px 0;
}

.bttn-card {
    cursor: pointer;
    color: white;
    padding: 9px 8px;
    border-radius: 10px;
    background-color: green;

}

#boton-vaciar {
    cursor: pointer;
    color: white;
    padding: 9px 8px;
    border-radius: 10px;
    background-color: green;
    margin-left: 10px;
}

#form-agregar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 7px;
}

#form-agregar button {
    background-color:gray;
    color: white;
    cursor: pointer;
}




.texto-principal-frutas {
    text-align: center;
}

.lista-carrito {
    display: grid;
    list-style:none;
    grid-template-columns: repeat(4, 1fr);
}

.bloque-item img {
    width: 90px;
}

